body {
  background: linear-gradient(90deg, #bd3e64 0%, #01baef 74%);
  min-height: 100vh;
}
.App {
  max-width: 1400px;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-content: flex-start
}
.Nav {
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 0 0;
  background:lightgray;
  height:100vh;
  width:10vw;
}
.Dashboard {
  display:flex;
  flex:4;
}
button {
  padding:10px;
  border-radius:25px;
  height:40px;
}
input {
  height:20px;
}
img{
  max-height:100px;
  max-width:100px;
}

.Nav > img{
  max-height:30px;
  max-width:30px;
  border-radius:15px;
}
.Dashboard{
  display:flex;
  flex-direction: column;
}
.dashboard-header{
  display:flex;
  flex-direction: column;
  max-width:60%;
  margin: 50px 0 0 50px;
}
.dashboard-header > button {
  margin-top:10px;
}
.postList{
  display:flex;
  flex-direction: column;
}
.Form{
  display:flex;
  flex: 5;
  flex-direction: column;
  max-width:60%;
  margin: 50px 0 0 50px;
}
.Form > input {
  margin-bottom:10px;
}
.single-post{
  display:flex;
}
.post-profile-pic{
  max-height:30px;
  max-width:30px;
  border-radius:15px;
}