body {
  background: linear-gradient(90deg, #bd3e64 0%, #01baef 74%);
  min-height: 100vh;
}
.App {
  max-width: 1000px;
  margin: 0 auto;
}
.Nav {
  display:flex;
  justify-content: space-around;
  margin: 10px 0 0 0;
}
button {
  padding:10px;
  border-radius:25px;
}